* text=auto

*.css linguist-vendored
*.js linguist-vendored

/.github export-ignore
/tests export-ignore
.php_cs.dist export-ignore
.env.github export-ignore
.env.local export-ignore
.editorconfig export-ignore
README.md export-ignore
phpunit.xml.dist export-ignore
